.alice-carousel__prev-btn {
  text-align: left !important; 
  position: relative;
  /* top: -130px; */
  /* left: -15px; */
  /* height: 0; */
}

.alice-carousel__next-btn {
  text-align: right !important; 
  position: relative;
  /* top: -130px; */
  /* right: -15px; */
  /* height: 0; */
}
